<div class="container">
<app-navbar></app-navbar>
<form #userPost="ngForm" method="post">
    <h3 style="text-align: center;">
        To Order!

    </h3>

    <input type="text" id="name" name="Name" ngModel placeholder="Your Name">
    <input type="text" id="email" name="mail" ngModel placeholder="Your Email">
    <input type="text" id="num" name="Number" ngModel placeholder="Your Phone Number">
    

    <select class="form-select" aria-label="Default select example">
        <option selected >Select Your Product </option>
        <option value="1">Digi Pool</option>
        <option value="2">Guppy</option>
        <option value="3">Handly Guppy</option>
      </select>
    <textarea id="message" ngModel rows="4" name="body" placeholder="Anything else?"></textarea>
<div class="row">
    <div class="col-sm-6">
        <button style="background-color: rgb(177, 169, 169);" (click)="btnCancel()">Cancel</button>
    </div>
    <div class="col-sm-6">
        <button (click)="onSubmit(userPost.value)">Confirm</button>
    </div>
</div>
    



</form>
</div>