


.body{
    margin-top: 150px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/fp/fp1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

}



form{
    background: rgb(16, 201, 161);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

form h3{
    color: rgb(90, 12, 136);
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: white;
    font-size: 16px;

}

form button{
    padding: 15px;
    background: blueviolet;
    color: aliceblue;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    margin: 20px auto 0;
    margin-left: 30px;

}

.form-select{
    height: 50px;
}