<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<hr style="border: 1px solid green;margin-bottom: 100px;" id="HOME">
<h1 style="text-align: center;text-transform: uppercase;color: #437444;color: rgb(36, 218, 193);
text-shadow: 1px 1px 2px rgb(13, 13, 14), 0 0 25px rgb(101, 223, 206), 0 0 5px rgb(82, 221, 168);">welcome to digi
    smart solutions</h1>
<h2 style="text-align: center;text-transform: uppercase;color: #437444;">Smart water management</h2>
<div class="container">
    <app-carousel [images]="images" [autoslide]="true"></app-carousel>
</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="ABOUTUS">
<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>About Us </b> </h2>
    <p style="text-align: center;"><b>Who we are? and what we do?</b></p>
    <div class="row" style="margin-top: 70px;margin-bottom: 70px;">
        <div class="col-sm-6" style="background-color:white;">
            <h4 style="color: rgb(105, 156, 156);"><b>Get to know us better.</b></h4>
            <p>
                Digi Smart Solutions is labeled by the Ministry of ICT and ranked second in the Tunisian national
                invention competition.<br>

                It operates in different business sectors such as: Agriculture, Aquaculture and Industry.<br>

                Digi Smart Solutions offers the following services:
            </p>
            <h5>
                <i class="fa fa-check-square-o" style="color: #00a9da"> * Consulting in IoT and IA solutions :</i>
            </h5>
            <p>Provide best tips and recommendations to realise the optimised IoT ecosystem for your project.</p>
            <h5>
                <i class="fa fa-check-square-o" style="color: #00a9da"> * Smart products for water quality management :
                </i>
            </h5>
            <p>Offer products for the management of water quality in different types of pools such as fish farms,
                individual and hotel pools, dams, etc.</p>
            <h5>
                <i class="fa fa-check-square-o" style="color: #00a9da"> * End-to-end IoT and IA applications:</i>
            </h5>
            <p>Provide turnkey bespoke IoT applications</p>


        </div>
        <div class="col-sm-6" style="background-color:white;">
            <app-slider1 [images]="images7" [autoslide]="true"></app-slider1>
        </div>
    </div>

    <div class="row" style="margin-left: 70px;margin-bottom: 50px;">
        <div class="col-sm-4">
            <b>
                <h3 style="color: rgb(127, 219, 127);text-decoration-line: underline;">Our Values</h3>
            </b>
            <p>IoT and AI tools for smart water Analyze, Diagnose, monitor, Alert and secure</p>
        </div>
        <div class="col-sm-4">
            <b>
                <h3 style="color: rgb(127, 219, 127);text-decoration-line: underline;">Our Mission</h3>
            </b>
            <p>Providing sustainable solutions for a better life.</p>
        </div>
        <div class="col-sm-4">
            <b>
                <h3 style="color: rgb(127, 219, 127);text-decoration-line: underline;">Our Philosophy</h3>
            </b>
            <p>Water is the source of life.</p>
        </div>
    </div>
    <div style="text-align: center;color: rgb(19, 18, 105);">
        <h3 style="text-decoration-line: underline;">
            Architectures
            <img src="/assets/images/arch.jpg" alt="arch" style="margin-top: 30px;">
        </h3>
    </div>
    <div style="text-align: center;color: rgb(19, 18, 105);">
        <h3 style="text-decoration-line: underline;">
            Our Specialties
        </h3>
    </div>
    <div class="row" style="margin-left:70px;margin-top: 30px;">
        <div class="col-sm-6">
            <img src="/assets/images/iot.jpg" alt="iot" style="width: 400px;height: 400px;">
            <p>It is challenging to ensure the proper utilization of water, but proper implementation of IoT technology
                in Water Management Systems will surely make our lives convenient and conserve our valuable resources..
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/images/ai.jpg" alt="ai" style="margin-left: 100px;">
            <h2 style="color: rgb(95, 180, 219); text-align: center;margin-bottom: 50px;margin-top: 20px;">IoT Water
            </h2>
            <p style="margin-left: 40px;">One of the newest tools for driving smart water management is software powered
                by artificial intelligence (AI).</p>
        </div>
    </div>

</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="PROJECTS">

<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>Projects </b> </h2>
    <p style="text-align: center;"><b>We are offering Smart Products and Intelligent Applications to Water
            Management.</b></p>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-6">
        <img src="/assets/images/pool.jpg" alt="img1" style="width: 600px;height: 400px;border-radius: 10%;">
        <div class="row">
            <div class="col-sm-6">
                <h5 style="margin-top: 30px;margin-left: 60px;"><a
                        href="https://www.youtube.com/watch?v=lW0krEnq_eM&t=3s">>> To Explore More </a></h5>
            </div>
            <div class="col-sm-6">
                <button (click)="btnClick();" type="button" class="btn btn-outline-success"
                    style="margin-top: 25px;margin-left: 80px;">Order</button>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h4><i class="fa fa-rocket"
                style="font-size:48px;color:rgb(100, 179, 182);margin-left: 70px;margin-right: 20px;"></i><b>My Digi
                Pool</b></h4>
        <p style="margin-left: 70px;">Are you looking to monitor your pool 24/7 ?<br><br>
            MyDigiPool is offering a fully centralized solution to monitor your pool water quality</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Guaranted reliable
            results</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Keep your water safe</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Smart measure and monitor
        </p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Getting alerts and
            notifications to adjust Pool Water quality</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Easy setup & use</p>
    </div>

</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-6">
        <h4><i class="fa fa-gamepad"
                style="font-size:48px;color:rgb(100, 179, 182);margin-right: 20px;"></i><b>Guppy</b></h4>
        <p style="margin-left: 70px;">Feeding an expected global population of 9 billion by 2050 is a daunting
            challenge.
            <br><br>
            The world food-producing sector must secure food and nutrition for the growing population through increased
            production and reduced waste Fisheries and aquaculture must address these challenges
            <br><br>
            So How to growth aquaculture production ?
            <br><br>
            "Guppy" is the exclusive Smart Fish farm solution
        </p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Real time fish farm water
            quality monitoring</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Automatic data
            acquisition and processing</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Dashboard monitoring
            interface </p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Float, Waterproof and
            robust</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Easy configuration</p>
    </div>
    <div class="col-sm-6">
        <img src="/assets/images/guppy.jpg" alt="img1"
            style="width: 600px;height: 400px;border-radius: 10%;margin-top: 100px;">
        <div class="row">
            <div class="col-sm-6">
                <h5 style="margin-top: 30px;margin-left: 60px;"><a href="https://www.youtube.com/watch?v=RwVzoOYQf7s">>>
                        To Explore More </a></h5>
            </div>
            <div class="col-sm-6">
                <button (click)="btnClick();" type="button" class="btn btn-outline-success"
                    style="margin-top: 25px;margin-left: 80px;">Order</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-6">
        <img src="/assets/images/pool.jpg" alt="img1" style="width: 600px;height: 400px;border-radius: 10%;">
        <div class="row">
            <div class="col-sm-6">
                <h5 style="margin-top: 30px;margin-left: 60px;"><a
                        href="https://www.youtube.com/watch?v=lW0krEnq_eM&t=3s">>> To Explore More </a></h5>
            </div>
            <div class="col-sm-6">
                <button (click)="btnClick();" type="button" class="btn btn-outline-success"
                    style="margin-top: 25px;margin-left: 80px;">Order</button>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h4><i class="fa fa-gear"
                style="font-size:48px;color:rgb(100, 179, 182);margin-left: 70px;margin-right: 20px;"></i><b>Handly
                Guppy</b></h4>
        <p style="margin-left: 70px;">Are you looking to monitor your pool 24/7 ?<br><br>
            MyDigiPool is offering a fully centralized solution to monitor your pool water quality</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Guaranted reliable
            results</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Keep your water safe</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Smart measure and monitor
        </p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Getting alerts and
            notifications to adjust Pool Water quality</p>
        <p style="margin-left: 70px;"><i class="fa fa-angle-right" style="font-size:24px"></i> Easy setup & use</p>
    </div>

</div>

<div style="text-align: center;color: rgb(19, 18, 105);margin-top: 50px;">
    <h3 style="text-decoration-line: underline;">
        Featured Projects
    </h3>
    <p style="color: black;">Solutions based on IoT and AI tools collecting data received from multiple devices,
        sensors, systems to provide actionable reports for management and decision-making process.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <img src="/assets/images/fp/fp1.jpg" alt="img1"
            style="width: 300px;height: 300px;border-radius: 10%;margin-top: 50px;">
        <h4 style="margin-top: 20px;color: rgb(127, 219, 127);">Supervise consumption, Detects leakage, Alert, Make
            essential cuts</h4>
        <p>In an installation, leaks not only waste water, but the damage can be extremely expensive.A water leak
            detection system is essential to avoid damage and waste of consumption.</p>
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/fp/fp2.jpg" alt="img1"
            style="width: 300px;height: 300px;border-radius: 10%;margin-top: 50px;">
        <h4 style="margin-top: 20px;color: rgb(127, 219, 127);">Aquaculture management system</h4>
        <p style="margin-top: 30px;">Optimization the maximum production density of fish is conditioned by real-time and
            automatic monitoring water quality parameters to deal with the death and fish diseases</p>
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/fp/fp3.jpg" alt="img1"
            style="width: 300px;height: 300px;border-radius: 10%;margin-top: 50px;">
        <h4 style="margin-top: 20px;color: rgb(127, 219, 127);">Pool management system</h4>
        <p style="margin-top: 60px;">Optimum efficiency is offered through the maintenance that requires automatic
            real-time control of different water parameter’s quality</p>
    </div>
</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="APPLICATIONS">

<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>Applications </b> </h2>

    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-6">
            <h3 style="color: rgb(100, 179, 182);">Fully Cenralised Architecture.</h3>
            <p>Smart water monitoring solutions help industries and hotels to meet the wide array of challenges from
                water monitoring for all installed sites.
                <br><br>
                You can access your Analytics Dashboard from virtually anywhere and receive alerts and notifications via
                email, through iOS and Android app or by connecting to the secure website.
            </p>
            <h5><a href="https://play.google.com/store/apps/details?id=com.dig2s.app&hl=fr">>> Download our
                    application</a></h5>

        </div>
        <div class="col-sm-6">
            <img src="/assets/images/app.jpg" alt="img1" style="width: 500px;height: 300px;border-radius: 10%;">

        </div>
    </div>
</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="REFERENCES">
<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>References </b> </h2>
    <div class="lesImg" style="margin-left:450px;">
        <span style="--i:1"><img class="diapo" src="/assets/images/ref/ref1.png"> </span>
        <span style="--i:2"><img class="diapo" src="/assets/images/ref/ref2.png"> </span>
        <span style="--i:3"><img class="diapo" src="/assets/images/ref/ref3.png"> </span>
        <span style="--i:4"><img class="diapo" src="/assets/images/ref/ref4.png"> </span>
        <span style="--i:5"><img class="diapo" src="/assets/images/ref/ref5.png"> </span>
        <span style="--i:6"><img class="diapo" src="/assets/images/ref/ref6.png"> </span>

    </div>
</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;;" id="PARTNERS">

<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>Our Partners </b> </h2>
    <div class="lesImg" style="margin-left:450px;">
        <span style="--i:1"><img class="diapo" src="/assets/images/part/part1.jpg"> </span>
        <span style="--i:2"><img class="diapo" src="/assets/images/part/part2.jpg"> </span>
        <span style="--i:3"><img class="diapo" src="/assets/images/part/part3.jpg"> </span>
        <span style="--i:4"><img class="diapo" src="/assets/images/part/part4.jpg"> </span>
        <span style="--i:5"><img class="diapo" src="/assets/images/part/part5.jpg"> </span>
        <span style="--i:6"><img class="diapo" src="/assets/images/part/part6.jpg"> </span>
        <span style="--i:7"><img class="diapo" src="/assets/images/part/part7.jpg"> </span>
        <span style="--i:8"><img class="diapo" src="/assets/images/part/part8.jpg"> </span>
        <span style="--i:9"><img class="diapo" src="/assets/images/part/part9.jpg"> </span>
        <span style="--i:10"><img class="diapo" src="/assets/images/part/part10.jpg"> </span>

    </div>
</div>
<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="MEDIAS">
<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>Medias </b> </h2>
    <div class="lesImg" style="margin-left:450px;">
        <span style="--i:1"><img  src="/assets/images/media/med1.png"> </span>
        <span style="--i:2"><img  src="/assets/images/media/med2.png"> </span>
        <span style="--i:3"><img  src="/assets/images/media/med3.png"> </span>
        <span style="--i:4"><img  src="/assets/images/media/med4.png"> </span>
        <span style="--i:5"><img  src="/assets/images/media/med5.png"> </span>

    </div>
</div>









<hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="EVENTS">
<div class="container">
    <h2 style="text-align: center; color:rgb(8, 114, 52);"><b>Events </b> </h2>
    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <app-slider1 [images]="images10" [autoslide]="true"></app-slider1>

            

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Tunisia Digital Summit</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 22-23 june 2022</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>HOTEL LAICO TUNIS</h5>


        </div>
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <img src="/assets/api.jpg" alt=""
            style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Regency/API</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 22 february 2022</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>TICAD HOTEL CARTHAGE</h5>


        </div>

    </div>
    <div
        style="text-align: center;background-color: #00a9da;margin-top: 30px;color: white;height: 30px; border-radius: 50%;width: 150px;margin-left: 470px;">
        <h5 style="text-align: center;">2022</h5>
    </div>




    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a href="https://www.youtube.com/watch?v=q3DSQ4heZ7w">
                <img src="/assets/bbc.PNG" alt=""
                    style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">BBC Arabic-Passage</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>22 December 2021</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>TUNIS</h5>
            </a>

        </div>
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <app-slider1 [images]="images9" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">TechShow</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>25 November 2021</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Technoparck EL GHAZELA</h5>


        </div>
    </div>


    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a href="https://www.linkedin.com/company/digi-smart-solutions-dig2s/posts/?feedView=all">
                <app-slider1 [images]="images8" [autoslide]="true"></app-slider1>
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Pollitec</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 12-15 October 2021</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>LYON-FRANCE</h5>
            </a>

        </div>
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a href="https://www.youtube.com/watch?v=v5-UQ0htJD0">
                <img src="/assets/forix.jpg" alt=""
                    style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Salon Mdibat</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>06 September 2021</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>FORIX SFAX</h5>
            </a>

        </div>

    </div>
    <div
        style="text-align: center;background-color: #00a9da;margin-top: 30px;color: white;height: 30px; border-radius: 50%;width: 150px;margin-left: 470px;">
        <h5 style="text-align: center;">2021</h5>
    </div>
    <div class="row">
        <div class="col-sm-6"
            style=" padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <a href="https://www.youtube.com/watch?v=1rvJ7xddab8&t=9s">
                <img src="/assets/watanya.jpg" alt=""
                    style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Passage Watania 2</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>02 April 2020</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>TUNIS</h5>
            </a>
        </div>

        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <a href="https://www.youtube.com/watch?v=j4aYe89-__8">
                <img src="/assets/images/events/im1.png" alt=""
                    style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Passage radio jeune</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>27 february 2020</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>TUNIS</h5>
            </a>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <img src="/assets/images/events/im3.png" alt=""
                style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Salon d'entreprise sfax</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 26 february 2020</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>SFAX</h5>


        </div>
        <div class="col-sm-6"
            style=" padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <a href="https://www.youtube.com/watch?v=sYUCy62Tj3Y">
                <img src="/assets/images/events/im2.png" alt=""
                    style="width: 500px; height: 300px;margin-left: 25px;border-radius: 20px;">
                <hr style="border: 1px solid rgb(32, 131, 62);">
                <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">APII: concour d'invention</h4>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>19-20 february 2020</h5>
                <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                        style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>HOTEL LAICO TUNIS</h5>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;margin-left:300px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images1" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Demoday</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>06 february 2020</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Technoparck EL GHAZELA</h5>


        </div>

    </div>

    <div
        style="text-align: center;background-color: #00a9da;margin-top: 30px;color: white;height: 30px; border-radius: 50%;width: 150px;margin-left: 470px;">
        <h5 style="text-align: center;">2020</h5>
    </div>
    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images2" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Algérie</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>16 November 2019</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Algérie</h5>


        </div>
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images3" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">Agritech</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 02 October 2019</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>technoparck Mannouba</h5>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images4" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">SIAMAP</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>26 September 2019</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Foire kram</h5>


        </div>
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images5" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">AFRICU'UP</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i> 24 September 2019</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Tunis</h5>


        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"
            style="padding: 5px;margin-top: 20px;margin-left:300px;border-radius: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <app-slider1 [images]="images6" [autoslide]="true"></app-slider1>

            <hr style="border: 1px solid rgb(32, 131, 62);">
            <h4 style="color: rgb(54, 106, 184);margin-left:10px ;">LABEL</h4>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-calendar"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>05 September 2019</h5>
            <h5 style="color: rgb(54, 106, 184);"><i class="fa fa-map-marker"
                    style="font-size:36px;margin-left: 10px;margin-right: 10px;"></i>Tunis</h5>


        </div>

    </div>
    <div
        style="text-align: center;background-color: #00a9da;margin-top: 30px;color: white;height: 30px; border-radius: 50%;width: 150px;margin-left: 470px;">
        <h5 style="text-align: center;">SINCE 2019</h5>
    </div>
    <hr style="border: 1px solid green;margin-top: 70px;margin-bottom: 150px;" id="CONTACT">

    <div class="container">
        <h2 style="text-align: center; color:rgb(8, 114, 52);margin-bottom: 30px;"><b>Contact Us</b> </h2>

        <app-map></app-map>


    </div>